@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Space+Mono&display=swap');
:root{
	--color-general:#03363d;
	--color-verde:#68b06e;
	--fondo-verde:#10393b;
	--color-hero:#618a8d;
	--color-naranja:#ff8945;
	--hover-naranja:#f4722c;
	--hover-verde:#00272b;
	--color-titulos:#0b363d;
	--fondo-card:#f6f9f9;
}
body{
	font-family: 'Raleway', "sans-serif";
	font-size: 16px;
	color: var(--color-general);
	font-weight: 500;
}

a{
	text-decoration: none;
}
header{
	background-color: var(--fondo-verde);
	padding: 25px 0;
}

header img{
	width: 120px;
}

#hero h4{ color: var(--color-hero);
	font-size: 22px;
	font-weight:600;
	margin-bottom: 60px; 
	margin-top: 20px;
	
	background-image: url("../img/bg-img-01.png");
	background-position: top center; 
	background-size: cover;
	background-color: var(--fondo-verde);
	padding: 5%;
	
}
#hero h1{
	color:#FFFFFF;
	font-size: 70px;
	font-weight: 700px;
	
}

.color-naranja{
	color: var(--color-naranja);
	
}

.btn-naranja{
	background-color: var(--color-naranja);
	color: #FFFFFF;
	padding: 14px, 30px;
	font-size: 15px;
	font-weight: 600px;
	letter-spacing: 1px;
}

.btn-naranja:hover{background-color: var(--hover-naranja);
}

.btn-verde{
	background-color: var(--fondo-verde);
	color: #FFFFFF;
	padding: 14px, 30px;
	font-size: 15px;
	font-weight: 600px;
	letter-spacing: 1px;
}

.btn-verde:hover{
	
	background-color: var(--hover-verde);
	color:#FFFFFF;
}

.section{
	padding: 60px 0;
}

.titulo span{
	color: var(--color-naranja);
}
.titulo{
	color: var(--color-titulos);
	font-weight: 800;
	font-size: 50px;
	margin-bottom: 30px;
}

.subtitulo{
	color:var(--color-verde);
	letter-spacing: 2px;
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom: 30px;
	font-size: 16px;
	
}

.link-naranja{
	color: var(--color-naranja);
	font-weight: 600;
	border-bottom: 1px solid var(--color-naranja);
	
}

.link-naranja:hover{
	color: var(--color-naranja);
	opacity: 0.8;
}

#features .card{
	background-color: var(--fondo-card);
	padding: 20px;
}

#features .card h3{
	
	font-size: 22px;
	font-weight: 800;
	border: 0;
	border-bottom: thin solid #fac56b;
	border-radius: 0;
}

.data{
border-left: 2px solid var(--color-general);
padding-left: 40px;
margin-top:40px;
}

.data h5{
	
	font-size: 16px;
	font-weight: 800;
	margin-top: 10px;
	margin-bottom: 0;
}
